.button {
  font-size: 13px;
  background-color: var(--text-color);
  color: var(--white);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 30px;
  padding: 12px;
  width: 100%;

  &:hover {
    background-color: color-mix(in srgb, #5d6265 80%, black);
  }

  &:disabled {
    background-color: var(--disabled);
    cursor: not-allowed;
  }
}
