<main class="page-center">
  <div class="container-error">
    <h1 class="container-error__title">500</h1>
    <p class="container-error__text">Чиним...</p>
    {{> Link class="container-error__link" data-page="profile" href="#" text="Вернуться в профиль"}}
  </div>
</main>