:root {
  --white: #fff;
  --black: #000;
  --text-color: #252525;
  --text-color-grey: #555;
  --light-white: #fbfbfb;
  --label-color: #3369f3;
  --secondary-color: #2c3e50;
  --light-grey: #999;
  --background-color: #f4f4f4;
  --disabled: #bdc3c7;
  --error-color: #e74c3c;
  --shadow: #00000024;
  --background-dark: #1e1c1c;
  --opacity-dark: #0000008c;
}
