.messenger {
  width: 100%;
  display: flex !important;
  height: 100vh;

  &__messages {
    width: 27vw;
    border-right: 0.5px solid gray;
  }

  &__back {
    border: 1px solid var(--black);
    border-radius: 8px;
    padding: 5px 15px;
  }

  &__newChat {
    border: 1px solid var(--black);
    border-radius: 8px;
    padding: 5px;
  }

  &__profile {
    padding: 20px;
    border-bottom: 1px solid #e0dede;
  }

  &__main {
    background: #899cd2;
    width: 73vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &-label {
      font-size: 14px;
      padding: 10px 20px;
      border-radius: 24px;
      background: rgb(255 255 255 / 15%);
      margin: auto 0;
      color: var(--white);
    }

    input {
      width: 80%;
      padding: 10px;
      border-radius: 10px;
      border: none;
      outline: none;
      position: absolute;
      bottom: 20px;
      left: 45%;
      transform: translateX(-50%);
    }
  }

  &__btn {
    position: absolute;
    bottom: 15px;
    right: 2%;
    width: 100px;
    padding: 10px;
  }

  &__btnSetting {
    width: auto;
    margin: 0;
  }

  &__header {
    background: var(--white);
    width: 100%;
    padding: 20px;
  }

  &__chat-window {
    width: 100%;
    padding: 30px;
  }
}
