<main class="messenger">
  <div>
    <div>
      <h1>загрушка - Страница чатов</h1>
      <div>Поиск</div>
      {{> Chat id="chat" src="./1" name="Саша" message="Привет Лера!" time="21:52" label="2" }}
    </div>
  </div>
  <div>чат</div>
</main>
{{> Footer}}