.messenger {
  height: 100%;
  width: 100%;
  display: flex;
  height: 100vh;

  &__messages {
    width: 27vw;
  }

  &__back {
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 5px;
  }

  &__profile {
    padding: 20px;
    border-bottom: 1px solid #e2e2e2;
  }

  &__main {
    background: #899cd2;
    width: 73vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &-label {
      font-size: 14px;
      padding: 10px 20px;
      border-radius: 24px;
      background: rgb(255 255 255 / 15%);
      margin: auto 0;
      color: #fff;
    }

    input {
      width: 80%;
      padding: 10px;
      border-radius: 10px;
      border: none;
      outline: none;
      position: absolute;
      bottom: 20px;
      left: 45%;
      transform: translateX(-50%);
    }
  }

  &__btn {
    position: absolute;
    bottom: 15px;
    right: 2%;
    width: 100px;
    padding: 10px;
  }
}
