<div class="page-container">
  <main class="page-content">
    <h1>Вход</h1>
    <form id="loginForm" class="form">
      <div>
        {{> Input name="login" type="text" placeholder="Введите логин"}}
        {{> Input name="password" type="password" placeholder="Введите пароль"}}
      </div>
      {{> Button id="enter" text="Войти" type="submit"}}
    </form>
    {{> Link data-page="signup" href="/signup" text="Ещё не зарегистрированы?"}}
  </main>
  {{> Footer}}
</div> 