.chat {
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid var(--chat-item);

  &__img {
    background-color: var(--light-white);
    border-radius: 50%;
    width: 47px;
    height: 47px;
  }

  &__info {
    margin-left: auto;
  }

  &__label {
    font-size: 11px;
    background-color: var(--label-color);
    color: var(--white);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
