.footer {
  flex-shrink: 0;
  margin-top: auto;
  padding: 24px 50px;
  border-top: 1px solid var(--background-dark);
  display: flex;
  gap: 100px;
  background-color: var(--background-dark);

  &__link {
    text-decoration: none;
    color: var(--white);
  }
}
