<main class="pageCenter">
  <div class="containerError">
    <h1 class="containerError__title">404</h1>
    <p class="containerError__text">Страница не найдена</p>
    {{> Link class="containerError__link" data-page="profile" href="#" text="Вернуться в профиль"}}
  </div>
</main>