.avatar {
  background-color: #efefef;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  overflow: hidden;

  &__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    display: block;
  }
}