<div class="pageContainer">
  <div class="pageContent pageContent__profile">
    {{> Avatar id="avatar" src="../../../public/dog.jpg"}}
    <form id="profileForm" class="form">
      <div>
        {{> Input name="oldPassword" type="password" placeholder="Введите старый пароль"}}
        {{> Input name="newPassword" type="password" placeholder="Введите новый пароль"}}
      </div>
      {{> Button id="enter" text="Сохранить"}}
    </form>
  </div>
 {{> Footer}} 
 </div>